<div class="booyah-box col-10 offset-1">
	<div class="frosty">
		<h1>Look at our dedicated team of developers hard at work!</h1>
	</div>
	
	<br>

	<div class="row">		
		<%= image_tag 'team/team1.jpg', class: 'round-image img-fluid team-image' %>
		<%= image_tag 'team/team2.jpg', class: 'round-image img-fluid team-image' %>
		<%= image_tag 'team/team3.jpg', class: 'round-image img-fluid team-image' %>
		<%= image_tag 'team/team4.jpg', class: 'round-image img-fluid team-image' %>
		<%= image_tag 'team/team5.jpg', class: 'round-image img-fluid team-image' %>
		<%= image_tag 'team/team6.jpg', class: 'round-image img-fluid team-image' %>
	</div>
</div>