<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md sticky-top text-shadow-accent-color-dark">
      <a class="navbar-brand" href="#">Flixter</a>  
    </nav>

    <div class="main">
      <%= yield %>
    </div>

    <nav class="navbar navbar-toggleable-md fixed-bottom">
    </nav>
    
  </body>
</html>
